node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env.local
.env
npm-debug.*
yarn-debug.*
yarn-error.*

# supabase local state
supabase/.temp
supabase/.applied_migrations

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
